/.git
/datos/Train
/datos/train
/datos/Meta
/datos/meta
/datos/Test
/datos/test
/datos/.ipynb_checkpoints
/datos/Test.csv
/datos/Train.csv
/datos/Meta.csv
/datos/modelos
/datos/parametros_modelos
/datos/Tensorboard
datos.zip
classification_model.ipynb
/archive (1)
/imagenes_completas/.ipynb_checkpoints
/imagenes_completas/FullIJCNN2013
/streamlit/__pycache__
/streamlit/apps/__pycache__
/streamlit/auxiliar/__pycache__
/streamlit/imagenes/fondo_inicio.jpgZone.Identifier