/.git
gif_creator.ipynb
/.ipynb_checkpoints
/datos/Train
/datos/train
/datos/Meta
/datos/meta
/datos/Test
/datos/test
/datos/.ipynb_checkpoints
/datos/Train.csv
/datos/Meta.csv
/datos/Test.csv
/datos/modelos
/datos/parametros_modelos
/datos/Tensorboard
datos.zip
/archive (1)
/Test_completas/.ipynb_checkpoints
/Test_completas/FullIJCNN2013
/streamlit/__pycache__
/streamlit/apps/__pycache__
/streamlit/auxiliar/__pycache__
/streamlit/VIDEOS_RESULTADO/cd
/Ejemplo_video/.ipynb_checkpoints
/Ejemplo_video/yolov3_ts_test.cfg
/Ejemplo_video/yolov3_ts_train.cfg
/Ejemplo_video/yolov3_ts_train_5000.weights
/Ejemplo_video/result.mp4
/Ejemplo_video/Vídeo curso autoescuela_ Señales de reglamentacion. Prioridad_Trim.mp4
/Ejemplo_video/videos_prueba
/Ejemplo_video/resultados
/Ejemplo_imagenes




